<!-- Footer
================================================= -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="footer-wrapper">
				<div class="col-md-3 col-sm-3">
					<a href="#"><img src="images/logo-black.png" alt="" class="footer-logo" /></a>
					<ul class="list-inline social-icons">
						<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<h5>Registration</h5>
					<h5>FAQ</h5>
					<h5>About</h5>
				</div>
				<div class="col-md-5 col-sm-4">
					<h5>Contact Us</h5>
					<ul class="contact">
						<li><i class="icon ion-ios-telephone-outline"></i>241-1000 (208)</li>
						<li><i class="icon ion-ios-email-outline"></i>barangaybudgetdvo@gmail.com</li>
						<li><i class="icon ion-ios-location-outline"></i>Room 12-A, City Hall Bldg, San Pedro St., Davao City, 8000</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
	<div class="spinner"></div>
</div>

